<mat-toolbar color="primary" class="navprincipal">
    
    <!-- Search form -->
    
        <button mat-button>Inicio</button>
        <button mat-button>Proyectos</button>
        <button mat-button>Todo</button>
        <button mat-button>Calendario</button>
        <button mat-button>Estados</button>
        <button mat-button>Personas</button>

        <div class="espacio"></div>

        <mat-icon class="icononv">add</mat-icon>
        <mat-icon class="icononv">folder</mat-icon>
        <mat-icon class="icononv">notifications</mat-icon>
        <mat-icon class="icononv">apps</mat-icon>

</mat-toolbar>

<mat-toolbar>
    <mat-icon class="icononv">folder</mat-icon>
</mat-toolbar>

<div class="superior">
    <h5 class="letrasBarra">STP Networks</h5>
</div>

<router-outlet></router-outlet>